PROJECT_NAME="Portfolio Backend"
ENVIRONMENT=development
CORS_ORIGINS=["http://localhost:5173", "http://127.0.0.1:5173", "http://localhost:4173", "http://localhost:5174"]

# Rate Limiting
REDIS_URL=redis://localhost:6379/0

# Database
MONGODB_URL=mongodb://localhost:27017

# Telegram Target
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# SMTP Target
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=nyangaufredrick443@gmail.com
SMTP_PASSWORD=your_google_app_password
