.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 15px 0;
  text-align: center;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav-links li {
  display: inline;
}

.nav-links li.active a {
  color: #007bff; /* Highlight color */
  font-weight: bold;
  text-decoration: underline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #f39c12;
}
